name: Build & Push Docker Image

on:
  pull_request:
    types: [closed]
    branches: [main]

  push:
    branches: [main]

jobs:
  build-and-push:
    # Run if:
    # - PR was merged
    # - OR push event (always true for push)
    if: |
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Define image tags
        run: |
          echo "SHA_TAG=sha-${GITHUB_SHA::7}" >> $GITHUB_ENV
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "PR_TAG=pr-${{ github.event.pull_request.number }}" >> $GITHUB_ENV
          fi
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          no-cache: true
          tags: |
            geimarketing/template:${{ env.SHA_TAG }}
            ${{ env.PR_TAG && format('geimarketing/template:{0}', env.PR_TAG) }}